<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Newsfeed Home</title>
</head>
<body>
    {% block content %}
        <h1>Articles:</h1>
        <form action="{% url 'create-article' %}">
            <input type="submit" value="Create New Article"/>
        </form>

        <div>
            {% for article in article_list %}
                <h3><a href = "{% url 'article-detail' article.id %}">{{ article.title }}</a></h3>
                <h4>Written by: {{ article.author.full_name }}</h4>
                <br>
            {% endfor %}
        </div>

{#        </ul>#}
    {% endblock %}
</body>
</html>